<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><u>Edit User Information</u></h1>
    <h3>Insert changes to user info below:</h3>
    {% if messages %}
        {% for x in messages %}
            <p>{{% x.message %}}}</p>
        {% endfor %}
    {% endif %}
    <form action="/users/{{ user.id }}/update" method="POST">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" value="{{ user.name }}">
        <label>Email:</label>
        <input type="text" name="email" value="{{ user.email }}">
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/users/{{ user.id }}">Show</a>
    <br>
    <a href="/">Go Back</a>
</body>
</html>