<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <h1><u>Semi-Restful Users</u></h1>
    <h2>Registered Users:</h2>
    <table>
        <tr>
            <th class='1'>id</th>
            <th class='2'>Name</th>
            <th class='3'>Email</th>
            <th class='4'>Created At</th>
            <th class='5'>Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <th class='1'>{{ user.id }}</th>
            <th class='2'>{{ user.name }}</th>
            <th class='3'>{{ user.email }}</th>
            <th class='4'>{{ user.created_at }}</th>
            <th class='5'>
                <a href="/users/{{ user.id }}">Show</a>
                <a href="/users/{{ user.id }}/edit">Edit</a>
                <a href="/users/{{ user.id }}/destroy">Delete</a>
            </th>
        </tr>
    {% endfor %}
    </table>
    <br>
    <a href="/users/new">Create a New User!</a>
</body>
</html>